<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CADASTRO DE USUÁRIO</title>
</head>
<body>
	<h1>Cadastrar Usuário</h1>
	<form action="/hotel/user" method="post">

		<div>
			<label>Nome:</label> <input type="text" name="nome">
		</div>
		<div>
			<label>CPF:</label> <input type="text"
				name="cpf">
		</div>
		<div>
			<label>Email:</label> <input type="text" name="email">
		</div>
		<button type="submit">Cadastrar</button>
		<button type="reset">Limpar</button>
		<div></div>
	</form>
</body>
</html>