<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HOTEL</title>
</head>
<body>
	<h1>Adicionar reserva</h1>

	<form action="/hotel" method="post">

		<div>
			<label>Nome:</label> <input type="text" name="nome">
		</div>
		<div>
			<label>Quantidade de pessoas:</label> <input type="text" name="qtdPessoas"> 
		</div>
		<div>
			<label>Quantidade de dias:</label> <input type="text" name="qtdDias">
		</div>
		<div>
			<label>Quantidade de quartos:</label> <input type="text" name="qtdQuartos">
		</div>
		<div>
			<label>Data:</label> <input type="text" name="data">
		</div>
			<button type="submit">Reservar</button>
			<button type="reset">Limpar</button>
		<div>
		
		</div>
	</form>
</body>
</html>