<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div th:replace="~{menu :: menu}"></div>
	<nav th:fragment="menu">
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo">Hotel</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li><a href="/user/formUsuario">Login</a></li>
			</ul>
		</div>
	</nav>

</body>
</html>